/* entuire Body styling */
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
/* The header section styling */
header{
    height: 110vh;
    background: url(resources/h_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img:first-child{
    padding-top: 14em;
    height: 5em;
    width: 5em;
}
header img:last-child{
    height: 2.5em;
    width: 1.5em;
}
header h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1em;
    font-weight: 900;
    font-size: 3em;
}
header h1 span:last-child{
    padding-top: .6em;
}
header p{
    margin-top: -1em;
    font-weight: bold;
    font-size: .9em;
}
header img:last-child{
    margin-top: 8em;
}
/* This will style the About us Section */
.aboutus{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutus h1{
    font-weight: 900;
}
.aboutus p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    margin-top: -1em;
    font-weight: bold;
}
/* This will style the services section */
.services{
    background: linear-gradient(rgb(0, 0, 0, 0.7),rgb(0,0,0, 0.7)), url(resources/s_image.jpg);
    background-size: cover;
    color: whitesmoke;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services h1{
    padding-top: 3.5em;
    font-weight: bolder;
}
.services p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    margin-top: -1em;
    font-weight: bolder;
}
/* This is the what we do Section */
.doheader{
    display: flex;
    justify-content: center;
}
.doall{
    display: flex;
    justify-content: center;
}
.docontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    margin-right: 2em;
}
.docontent img{
    height: 6em;
    width: 6em;
}
.docontent p span{
    display: flex;
    justify-content: center;
    line-height: 1.5em;
}
/* This is the Porfolio Section */
.portfolio h1{
    display: flex;
    justify-content: center;
}
.pimages{
    display: flex;
    justify-content: center;
}
.pimages img{
    width: 16em;
    margin: 1em;
}
.pimages h1{
    display: none;
    position: absolute;
    margin: -6.5em 3.5em;
    padding: .5em;
    width: 4em;
    height: 1em;
}
/* .contactus{
    background: url(resources/c_image.jpg);
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    color: whitesmoke;
}
.contactus input{
    background: transparent;
    border-style: solid;
    border-color: whitesmoke;
}
.contactus input::placeholder{
    color: whitesmoke;
} */