/* entuire Body styling */
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
/* The header section styling */
header {
  height: 110vh;
  background: url(resources/h_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: whitesmoke;
}
header img:first-child {
  padding-top: 15em;
}
header img:last-child {
  padding: 3em 45em 0;
}
header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3em;
  font-weight: 900;
  font-size: 3em;
}
header h1 span:last-child {
  padding-top: 0.6em;
}
header p {
  font-weight: bold;
  font-size: 0.9em;
}
header img:last-child {
  margin-top: 8em;
}
/* This will style the About us Section */
.aboutus {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutus h1 {
  font-weight: 900;
}
.aboutus p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  margin-top: -1em;
  font-weight: bold;
}
/* This will style the services section */
.services {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(resources/s_image.jpg);
  background-size: cover;
  color: whitesmoke;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services h2 {
  padding-top: 2.7em;
  font-weight: bolder;
}
.services p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  margin-top: -1em;
  font-weight: bolder;
}
/* This is the what we do Section */
.doheader {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.doall {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.docontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  width: 30%;
}
.docontent img {
  height: 6em;
  width: 6em;
}
.contenthide1,
.contenthide2,
.contenthide3 {
  display: none;
}
.contentsee1,
.contentsee2,
.contentsee3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.docontent p span,
h3,
h5 {
  display: flex;
  justify-content: center;
  line-height: 1.5em;
}

/* This is the Porfolio Section */
.portfolio h1 {
  display: flex;
  justify-content: center;
}
.pimages {
  display: flex;
  justify-content: center;
}
.pimages img {
  width: 16em;
  margin: 2em;
}
.pimages h1 {
  display: none;
  position: absolute;
  margin: -6em 0.8em;
  padding: 2.5em 1em;
  width: 6.7em;
  height: 6em;
  background-color: rgba(255, 255, 255, 0.8);
}
/* This is the contact us section */
.contactus {
  background: url(resources/c_image.jpg);
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  color: whitesmoke;
}
.contactus input,
textarea {
  background: transparent;
  border-style: solid;
  border-color: whitesmoke;
  color: whitesmoke;
}
.contactus input::placeholder,
textarea::placeholder {
  color: whitesmoke;
}
.contactus input:focus,
textarea:focus {
  color: whitesmoke;
}
.contactus input {
  margin: 1em;
}
.col-xs-14 {
  display: flex;
}
footer{
    height: 20vh;
    margin-top: 4em;
}
footer .images{
    display: flex;
    justify-content: center;
}
footer .images img{
    margin: .5em;
}
footer .destu{
    display: flex;
    flex-direction: column;
    align-items: center;
}